@model GesTenis.Models.LoginViewModel
@{
    ViewBag.Title = "GesTenis";
}

<div class="jumbotron">
    <h1>Club de tenis "El Raquetazo"</h1>
    <p><picture><img src="~/Content/imgs/fondo_cinta_red.jpg" width=100% /></picture></p>
    <p class="lead">Club nacido de un grupo de amiguetes que aprendieron el oficio del tenis de aquellas maneras ...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Zona a rellenar</h2>
        <h3> </h3>
        <p>usuario: un ejemplo</p>
        <p>Contraseña: para visualizar</p>
        <p><a class="btn btn-default">Login</a></p>
    </div>
    <div class="col-md-4">
        <h2>Si aún no eres socio ...</h2>
        <center>@Html.ActionLink("Registrate", "Alta", "Home", null, new { @class = "btn btn-default" })</center>
    </div>
    <div class="col-md-4">
        <h2>Inicio de sesión para SOCIOS</h2>
        @*@using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.LabelFor(model => model.userId, new { @class="control-label"})
                @Html.EditorFor(model => model.userId, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.userPassword, new { htmlAttributes = new { @class = "control-label" } })
                @Html.PasswordFor(m => m.userPassword, new { @class = "form-control" })
            </div>

            <div class="col-md-offset-0 col-md-12">
                <input id="btnLogin" type="submit" value="Login" />
            </div>
        }*@
        <center>@Html.ActionLink("Accede", "Login", "Home", null, new { @class = "btn btn-default"})</center>
    </div>
</div>