@model GesTenis.Models.LoginViewModel
@{
    ViewBag.Title = "GesTenis";
}

<div class="jumbotron">
    <h1>Club de tenis "El Raquetazo"</h1>
    <p><picture><img src="~/Content/imgs/fondo_cinta_red.jpg" width=100% /></picture></p>
    <p class="lead">Club nacido de un grupo de amiguetes que aprendieron el oficio del tenis de aquellas maneras ...</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Si ya eres Socio ...</h2>
        <h3>Accede !</h3>
        <p>usuario:</p>
        <p>Contraseña: p********69</p>
        <p>sha generado en una web: 86816fe8af9fbc21c87a3507d99cd05dcbb1afab4bdb120d368ed9524052ae35</p>
        <p>sha generado por mi función: @GesTenis.tools.Tools.SHA256Encrypt("pepitogrillo69")</p>
        <p><a class="btn btn-default">Login</a></p>
    </div>
    <div class="col-md-4">
        <h2>Si aún no eres socio ...</h2>
        <center>@Html.ActionLink("Registrate", "alta", "home", null, new { @class = "btn btn-default" })</center>
    </div>
    <div class="col-md-4">
        <h2>Inicio de sesión para SOCIOS</h2>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <td align="left" ;>
                        @Html.DisplayNameFor(m => m.userId)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.userId)
                    </td>
                </tr>
                <tr>
                    <td align="left" ;>
                        @Html.DisplayNameFor(m => m.userPassword)
                    </td>
                    <td>
                        @Html.PasswordFor(m => m.userPassword)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td align="left" ;>
                        <input id="btnLogin" type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        }
    </div>
</div>