@model GesTenis.socios

@{
    ViewBag.Title = "Detalles de socio";
}

<h2>Detalles de socio</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.is_admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_baja)
        </dt>

        @{

            string ret_f_baja = null;
            if (Model.f_baja == null)
            {
                ret_f_baja = "No activo aún. El socio ha de proporcionar recibo del pago en la conserjería del club.";
            }
            else
            {
                DateTime fecha_baja = Model.f_baja ?? default(DateTime);
                if (DateTime.Compare(fecha_baja, DateTime.Today) == 0)
                {
                    ret_f_baja = "HOY expira la cuota !!";
                }
                if (DateTime.Compare(fecha_baja, DateTime.Today) < 0)
                {
                    ret_f_baja = "Cuota de socio CADUCADA a fecha " + fecha_baja.ToString("dd/MM/yyyy");
                }
                if (DateTime.Compare(fecha_baja, DateTime.Today) > 0)
                {
                    ret_f_baja = "Cuota de socio activa hasta " + fecha_baja.ToString("dd/MM/yyyy");
                }
            }
        }

        <dd>
            @ret_f_baja
        </dd>

    </dl>
</div>
<div>
    <h4>Acciones</h4>
    <ul>
        <li>@Html.ActionLink("Editar datos del socio visualizado", "EditarSocio", new { id = Model.id })</li>
        <li>@Html.ActionLink("Ir al listado de socios", "ListadoDeSocios")</li>
    </ul>
</div>

