@model GesTenis.socios

@{
    ViewBag.Title = "Eliminar socio";
}

<h2>Eliminar socio</h2>

<h3>Está seguro que desea eliminar el socio visualizado?</h3>
<p>Todos los datos del socio se perderán !</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt id="id">
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_baja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_baja)
        </dd>

    </dl>


    @*<script>
            $(function () {
                $('#deleteButton').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EliminarSocioConfirmado", "Admin", new { id = @Model.id })'
                    });
                });
            });
        </script>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <h4>Acciones</h4>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit">Eliminar socio</button>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <span class="input-group-btn">
                    @Html.ActionLink("Volver al listado de socios", "ListadoDeSocios", "Admin")
                </span>
            </div>
        </div>
    }
</div>
