@model GesTenis.recursos

@{
    ViewBag.Title = "Eliminar recurso";
}

<h2>Eliminar recurso</h2>

<h3>Está seguro que desea eliminar el recurso visualizado?</h3>
<p>Todos los datos del recurso se perderán !</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_baja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_baja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre_rec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_rec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.superficie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superficie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disponible)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <h4>Acciones</h4>
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="submit">Eliminar recurso</button>
                    </span>
                </div>
            </div>
            <div class="col-md-12">
                <span class="input-group-btn">
                    @Html.ActionLink("Volver al listado de recursos", "ListadoDeRecursos", "Admin")
                </span>
            </div>
        </div>
    }

</div>
