@model IEnumerable<GesTenis.reservas>

@{
    ViewBag.Title = "Listado de reservas";
}

<h2>Listado de reservas</h2>

<script type="text/javascript">
    $(function () {
        $('#filterByFechaButton').click(function () {
            loadReservas($('#input_fecha').val());
        });
    });

    function loadReservas(fecha) {
        $('#resultados').html(getLoader());
        $.ajax({
            url: '/admin/loadReservas', type: 'post', data: { fecha: fecha }, success: function (result) {
                $('#resultados').html(result);
            }
        });
    }

    $(document).ready(function () {
        $("#input_fecha").keypress(function (event) {
            if (event.which == 13) {
                $("#filterByIdButton").click();
            }
        });
    });

</script>


<p>
    @Html.ActionLink("Nueva reserva", "NuevaReserva", null, new { @class = "btn btn-default" })
</p>

<div class="form-inline">
    <div class="row">
        <div class="col-xs-8">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="filterByFechaButton">Filtrar por fecha</button>
                </span>
                <input type="text" class="form-control datepicker" placeholder="Introduce fecha ..." id="input_fecha">
            </div>
        </div>
    </div>
</div>

<hr />
<div id="resultados">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.recursos.nombre_rec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.socios.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pagado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.recursos.nombre_rec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.socios.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pagado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio) &euro;
                    </td>
                    @if (item.pagado)
                    {
                        <td>
                            @Html.ActionLink("Editar", "EditarReserva", new { id = item.id }) |
                            @Html.ActionLink("Detalles", "DetallesReserva", new { id = item.id }) |
                            @Html.ActionLink("Eliminar", "EliminarReserva", new { id = item.id }) |
                            @Html.ActionLink("Factura", "VerFacturaReserva", new { id = item.id })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Editar", "EditarReserva", new { id = item.id }) |
                            @Html.ActionLink("Detalles", "DetallesReserva", new { id = item.id }) |
                            @Html.ActionLink("Eliminar", "EliminarReserva", new { id = item.id }) |
                        </td>
                    }

                </tr>
            }

        </table>
    </div>
</div>