@model IEnumerable<GesTenis.reservas>

@if (Model.Count() == 0)
{
    <p>No hay reservas para la fecha seleccionada</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.recursos.nombre_rec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.socios.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pagado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th>
                    Acciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.recursos.nombre_rec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.socios.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pagado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarReserva", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "DetallesReserva", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "EliminarReserva", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
}

