@model GesTenis.socios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>socios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_alta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_alta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_baja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_baja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
