@model IEnumerable<GesTenis.socios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_alta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_baja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_admin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_alta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_baja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
